/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*font-family: 'Roboto', sans-serif;*/
/*--------------------------------------------------*/
/*GENERAL*/
span{
	color: #0B6623;
}
*{	
	font-family: 'Roboto', sans-serif
}
h1{font-weight: 800; font-size: 3rem;}	h2{font-weight: 700; font-size: 2rem;}	h3{font-weight: 600; font-size: 1.5rem;}	h4{font-weight: 500; font-size: 1.250rem;}
p{font-weight: 400; font-size: 1rem;}	*{font-size: 1rem;
}

h1,h2,h3,h4{
	text-transform: uppercase;
	letter-spacing: .10rem;
}
hr{
	height: 1em;
	margin: 0;
	padding: 0;
	background-color: #2B3C46;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	border: solid #2B3C46 ;
}
body{
	min-width: 600px;
	padding: 0;
	margin:0;	
	background-color: #2B3C46;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	color: white;
}

/*HEADER*/
header{
	display: flex;
}
.header-text{
	width: 50%
}
	.header-text h1{
		font-size: 1.5rem;
		text-align: left;
		padding-left: .5em;
	}
.header-nav{
	width: 50%;
	margin: auto 0;	
}
	nav{
		margin: 0 1.5em;
		display: flex;
		justify-content: flex-end;
	}
	nav ul{
		list-style: none;
		display: flex;
	}
	nav li{
		padding: 0 .5em;
	}
	nav a{
		text-transform: uppercase;
		font-size: 1rem;
		text-decoration: none;
		color: white;
		letter-spacing: .05rem;
		font-weight: 500;
	}
	nav a:hover{
		font-weight: 800;
		padding-bottom: .200em;
		border-bottom: 2px solid #0B6623; 
	}
/*--------------------------------------------------*/
/*HERO*/
.hero{
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
	.hero-text{
		position: relative;
		top: 40vh;
	}
		.hero-text h1{
			/*H1 : fontsize: 3rem; Fontweight:800; letterspacing*/
			font-size: 3rem;
			font-weight: 700;
			padding: 0;
			margin: 0;
			color: white;
			text-transform: none;
		}
		.hero-text p{
			color: white;
			margin: 0; padding: 0;
			margin-bottom: 1em;
			font-weight: 600;
			font-size: 1.5rem;
			text-decoration: 2px underline #0B6623; 
		}
		.hero-text span{
			font-weight: 600;
			text-decoration: 2px underline white;
			font-size: 1.5rem;
			color: #0B6623
		}
		.hero-text a{
			color: white;
			font-weight: 400;
			text-decoration: none;
			padding: .25em 1em;
			border: 2px solid white;
			border-radius: .250em;
			font-size: 1.250rem;
		}
		.hero-text a:hover{
			font-weight: 500;
			color: #0B6623;
			border: 2px solid #0B6623;
		}
/*--------------------------------------------------*/
/*ABOUT ME*/
.about-me{
}
.column{	
	justify-content: space-between;
	display: flex;
}
.col{	
	text-align: center;
	padding: 2em 2.5em;
	margin-bottom: 0;
}
	.col span{
		font-size: 2rem;
		font-weight: 600;
		text-decoration: 3px underline ;
		margin-bottom: 0;
		margin-top: 0;
		color: #0B6623

	}
	.col h2{
		font-weight: 600;
		text-decoration: 3px underline ;
		margin-bottom: 0;
		margin-top: 0;
	}
	.col p{
		font-weight: 300;
		margin-top: .5em;
		font-size: 1.125rem;
	}

/*--------------------------------------------------*/
/*PORTFOLIO*/
.portfolio{
	background-color: white;
	color: black;
}
.portfolio-column{
	opacity: 1;
	display: flex;
	color: black;
}
.portfolio-col{
	text-align: center;
	margin: 2em 2.25em;
	margin-bottom: .50em;
}
.portfolio-col-1{
	text-align: center;
	margin: 0 2.25em;
	margin-bottom: 2em;
}
	.portfolio-col h2{
		margin: .25em 0;
		padding: 0;
		text-decoration: 3px underline;
	}
	.portfolio-col p{	
		margin: 0;
		margin-bottom: .5em;
		padding: 0;
		margin-top: .10em;
		font-weight: 300;
		letter-spacing: .010rem;
		font-size: 1.125rem;
	}
	.portfolio-col a{
		color: black;
		font-weight: 400;
		text-decoration: none;
		padding: .25em 1em;
		border: 2px solid black;
		border-radius: .250em;
		font-size: 1.050rem;
}	
	.portfolio-col a:hover{
		font-weight: 500;
		color: #0B6623;
		border: 2px solid #0B6623;
	}
	.portfolio-col-1 h2{
		margin: .25em 0;
		padding: 0;
		text-decoration: 3px underline;
	}
	.portfolio-col-1 p{	
		margin: 0;
		margin-bottom: .5em;
		padding: 0;
		margin-top: .10em;
		font-weight: 300;
		letter-spacing: .010rem;
		font-size: 1.125rem;
	}
	.portfolio-col-1 a{
		color: black;
		font-weight: 400;
		text-decoration: none;
		padding: .25em 1em;
		border: 2px solid black;
		border-radius: .250em;
		font-size: 1.050rem;
}	
	.portfolio-col-1 a:hover{
		font-weight: 500;
		color: #0B6623;
		border: 2px solid #0B6623;
	}
/*--------------------------------------------------*/
/*ARTICLES*/
.articles-column{
	display: flex;
}	
.articles-col{
	margin: 2em 0;	
	text-align: center;	
}
	.articles-col h2{
		margin: .25em 0;
		padding: 0;
		margin-top: .50em;
		text-decoration: 3px underline;
	}
	.articles-col p{
		margin: 0;
		margin-bottom: 1em;
		font-weight: 300;
		padding: 0 1em;
		letter-spacing: .010rem;
	}
	.articles-col a{
		font-size: 1.250rem;
		text-decoration: none;
		color: white;
		border: 2px solid white;
		padding: .25em 1em;
		border-radius: .250em;
		display: inline-block;
		margin-bottom: 1em;
		font-weight: 400;
	}	
	.articles-col a:hover{
		font-weight: 500;
		color: white;
		outline: double;
	}
.articles-col-1{
	background-color: white;
	text-align:center;
	width: 100%;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
	.articles-col-1 p{
		color: black;
		font-size: 3rem;
	}
	.articles-col-1 a{
		font-size: 3rem;
		color: black;
		text-decoration: 3px underline #2B3C46;
	}
	.articles-col-1 a:hover{
		text-decoration: 6px underline #2B3C46;
	}
	.articles-col-1 p span{
		font-size: 3rem;
		color: #2B3C46;
	}
/*--------------------------------------------------*/
footer{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: #151E23;	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));	
	}
footer nav{
}
footer nav ul{
	list-style: none;
	padding: 0;
}
footer nav ul li{
	padding: 0 1em;
	filter: invert(100%);
}
footer nav ul li:hover{
	transform: scale(1.150);
}
footer p{
	color: white;
	font-weight: 600;
	letter-spacing: .200rem;
}
/*FOOTER*/
/*--------------------------------------------------*/

/*MEDIA QUERIES*/
@media (max-width: 630px){
	header{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.header-text{
		text-align: center;
	}
		.header-text h1{
			font-size: 1.5rem;
			text-align: center;
		}
	.header-nav{
		text-align: center;
	}
	.column{
		display: flex;
		flex-direction: column;
	}
	.portfolio-column{
		display: flex;
		flex-direction: column;
	}
	.articles-column{
		display: flex;
		flex-direction: column;
	}
}