/* IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Lora', serif; */

@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,200;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&display=swap');
/*font-family: 'Literata', serif;*/

/* --------------------------------------------------------------------------------*/
/* CSS RESET - GENERAL */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Literata', serif;
}
u, i, b{
	font-size: 1.175rem;
	font-weight: 600;
	text-shadow: 0px 0px .75px white;
	letter-spacing: .25px;
}
u{
	color: #7B0C87
}
i{
	color: #0095FF

}
b{
	color: #00C6BB;

}
.container{
	display: flex;
	justify-content: center;
}
.card{
	padding: 2em 0;
	width: 50%;
	overflow-wrap: break-word;
	background: rgb(126,147,217);
	background: linear-gradient(210deg, rgba(126,147,217,1) 0%, rgba(176,153,177,1) 100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.card p{
	color: #282E3A;
}
	.card .grammar-sentence{
		box-shadow: 0px 0px 7.5px 0px #535966;
		background-color: #E8EFFF;
		font-weight: 400;
		font-size: 1.10rem;
		margin: .5rem auto;
		width: 50%;
		padding: 1em 2em;
		border-radius: 7.5px;
	}
	.card .short{
		border-radius: 3px;
		font-weight: 300;
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
		width: 30%;
		margin: 0 auto 2em auto;
		border-bottom: 2.5px solid #E8EFFF;
		box-shadow: 0px .25px .25px 0px #B3BAC9;
	}
	.card .word{
		margin: 2em auto;
		
}

.card img{
	margin-bottom: 2em;
	width: 40%;
	height: auto;
	outline: none;
	border-radius: 25px;
	filter: blur(2.5px);
	max-width: 95%;
	max-height: 95%;
	transition: 350ms;
}
.card img:hover{
	filter: blur(0);
}